# Ignorar archivos de node_modules y npm logs
node_modules
npm-debug.log

# Ignorar archivos de configuración del entorno
.env

# Ignorar archivos de construcción
dist
build

# Ignorar archivos de configuración de Docker
Dockerfile
docker-compose.yml

# Ignorar archivos de Git
.git
.gitignore

# Ignorar archivos de configuración de editor
.vscode
.idea
*.swp

# Ignorar otros archivos innecesarios
.DS_Store
*.log
