VITE_API_URL=https://api.tu-dominio.com
VITE_PROXY_TARGET=https://api.tu-dominio.com
VITE_HMR_HOST=tu-dominio.com
VITE_HMR_PROTOCOL=ws


VITE_API_URL=
VITE_PROXY_TARGET=
VITE_HMR_HOST=
VITE_HMR_PROTOCOL=
VITE_FRONTEND_ENV=
VITE_API_KEY=
VITE_AUTH_DOMAIN=
VITE_DATABASE_URL=
VITE_PROJECT_ID=
VITE_STORAGE_BUCKET=
VITE_MESSAGING_SENDER_ID=
VITE_APP_ID=
VITE_MEASUREMENT_ID=
